<fieldset>
  <legend>Personal</legend>
  <%= form.error_messages %>

  <p><%= form.label :name, 'Name' %>
  <%= form.text_field :name %></p>

  <p><%= form.label :email, 'Email' %>
  <%= form.text_field :email %></p>

<% if @site_user.nil? || @site_user.crypted_password.blank? %>
  <p><%= form.label :password, 'Choose Password' %>
  <%= form.password_field :password %></p>

<% else %>
  <p><%= form.label :password, 'Password' %>
  <%= form.password_field :password %></p>

<% end %>
  <p><%= form.label :password_confirmation, 'Confirm password' %>
  <%= form.password_field :password_confirmation %></p>

</fieldset>
