%h1 Prices

%p Prices can be associated with a Happening page, and people signing up for a happening can use the codes to get a special price (promotion).

%table#prices.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
  %thead
    %tr
      %th Code
      %th Max
      %th Amount
      %th Currency
      %th Happening
      %th.modify Modify
  %tbody
    - @prices.each do |price|
      %tr.node.level-1
        %td
          %span= link_to price.code, price_edit_url(:id => price)
        %td= price.max
        %td= price.amount
        %td= price.currency
        %td= price.happening_page.title
        %td.remove
          = link_to image('remove', :alt => 'Remove Price'), price_remove_url(:id => price)

%p
  = link_to 'New Price', price_new_url