<fieldset>
  <legend>Attendance</legend>

  <p><%= form.label :price_code, 'Price Code' %>
  <%= form.text_field :price_code %></p>
</fieldset>

<p><%= check_box_tag 'presenting', '1', params[:presenting] %>
<label for="presenting">Add a presentation proposal</label></p>
<%= observe_field :presenting, :function => '$("presentation_fields").toggle();' %>

<div id="presentation_fields" style="display: <%= params[:presenting] ? 'block' : 'none' %>">
  <% fields_for(:presentation) do |p| %>
    <%= render :partial => 'presentations/form', :locals => {:form => p} %>
  <% end %>
</div>
